<section class="NotesAPI">
  <header>
    <mat-toolbar color="primary">
      <span>{{title}}</span>
    </mat-toolbar>
  </header>

  <mat-card>
    <div>
      <mat-form-field>
        <input matInput class="new-note" placeholder="Title" autofocus="" [(ngModel)]="newNote.title" (keyup.enter)="postNote()">
      </mat-form-field>
      <mat-form-field>
        <input matInput class="new-note" placeholder="Text" autofocus="" [(ngModel)]="newNote.text" (keyup.enter)="postNote()">
      </mat-form-field>

    </div>
  </mat-card>


</section>
